{% extends 'base.html' %}

{% block head %}
<title>Cuisine Chooser: for the undecided</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Cuisine Chooser</h1>
    <h4 style="text-align: center">Generate or add a cuisine by pressing one of the buttons below</h4>
    <h4 style="text-align: center">{{ message.cuisine }}</h4>
    <form action="/" method="post">
        <input type="text" name="cuisine" id="cuisine"/>
        <input type="submit" name="add" value="Add Cuisine"/>
        <input type="submit" name="generate" value="Generate Cuisine"/>
    </form>
</div>
{% endblock %}
